@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    aside a {
        @apply inline-block w-36 align-middle py-1.5 text-center bg-r-red-2 text-lg rounded-xl;
    }
    main > section {
        @apply snap-center snap-always text-zinc-950;
    }
    main h2 {
        @apply text-4xl mb-8;
    }
    main h3 {
        @apply text-3xl;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
}