@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    iframe {
        --scalar: 1;
        transform: scale(var(--scalar));
        transform-origin: top left;
        width: calc(1/var(--scalar) * 100%);
        height: calc(1/var(--scalar) * 100%);
    }
}
@layer components {
    aside a {
        @apply inline-block w-36 ml-4 align-middle py-1.5 text-center text-lg rounded-xl text-gray-1;
    }
    .right {
        position: absolute; /* Assuming absolute positioning based on the context */
        top: max(21.75%);
        left: max(385px, 37.25%, 58.75vh);
        /* height: 100%;
        width: 100%;
        padding-top: 13.75%;
        margin-top: -13.75%;
        padding-bottom: 52.5%;
        margin-bottom: -52.5%;
        padding-left: 38.75%;
        margin-left: -38.75%;
        padding-right: 33.5%;
        margin-right: -33.5%; */
    }
    main li {
        margin-bottom: 4px;
    }
    #skills li::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        background-image: url(./img/plum.svg);
        background-size: cover;
        vertical-align: bottom;
    }
    #projects h1 a::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 0.25rem;
        background-image: url(./img/external-link-svgrepo-com.svg);
        background-size: cover;
        vertical-align: bottom;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none; 
            scrollbar-width: none;
    }

    .hoverline {
        position: relative;
        }
        
        .hoverline::before, .selected::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        border-radius: 8px;
        height: 4px;
        bottom: -8px;
        left: 0;
        background-color: inherit;
        }

        .hoverline::before {
            transform: scaleX(0);
            transition: transform 0.3s ease;
            transform-origin: left;
        }
        
        .hoverline:hover::before, .selected::before {
        transform: scaleX(1);
    }
    
    body {
        --opacity: 0;
        transition: background-image 0.5s ease-out;
    }
    body::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        background-color: theme('colors.white');
        opacity: var(--opacity);
        transition: background 1s ease-in;
    }

    .fade-wipe {
        animation: fadeWipe 0.5s forwards;
    }

    .unfade-wipe {
        animation: fadeIn 2s backwards;
      }

    @keyframes fadeWipe {
        0% { background-position: 0% 0%; }
        100% { background-position: 0% 100%; }
    }
      
}